section {
    margin-top: 35px;
    background-color: #E8EEF0;
    padding-top: 35px;
    padding-bottom: 50px;
    margin-right: 7%;
    margin-left: 7%;
    border-radius: 5px;
}

#quest {
    padding-bottom: 10px;
}

    #quest li {
        list-style: none;
        display: flex;
    }

    #quest p {
        background-color: white;
        padding: 5px;
        border-radius: 3px;
        border-top-left-;
    }

#rep {
    display: flex;
}

#reponse {
    width: 50%;
}

span {
    color: #E50F7C;
}

#repondre {
    width: 50%;
}

#but {
    background-color: #E50F7C;
    border: none;
    margin-top: 3%;
}

@media screen and (max-width: 768px) {
    .left {
        width: 100%;
        margin-bottom: 100px;
    }

    .right {
        width: 100%;
    }
}