* {
	font-family: helvetica;
	margin: 0;
}


/* Partie 1 */

.main {
	background-color: #1a2d34;
}


/*----------MENU----------*/

.navbar {
	padding: 20px 0;
}

.accueil {
	margin: 0 auto;
	height: fit-content;
	padding: 0;
}

.titre-logo {
	float: left;
	font-size: 1.5rem;
	color: white;
	font-weight: 700;
}

.navbar-nav {
	float: right;
	display: block;
}

.nav-item {
	float: left;
	list-style-type: none;
}

.lien-nav {
	margin-right: 50px;
	padding: 10px 0;
	color: rgb(150,150,150) !important;
	font-weight: 700;
	font-size: 1.5rem;
}

.btn-connexion {
	padding: 5px 14px;
	background-color: rgb(240,0,150);
	border-radius: 30px;
	color: white;
	font-weight: 500;
	font-size: 14px;
}

	.btn-connexion a {
		color: rgb(220,220,220);
	}

.dropdown {
	visibility: hidden;
	float: right;
	height: 55.6px;
	width: 0;
}

#dropdownMenuButton {
	border: none;
	padding: 0;
	background-color: rgba(0,0,0,0);
	height: 100%;
	outline: none;
}

.fa-caret-down {
	color: white;
	margin: 0 10px;
}

i{
	color: #FFFFFF;
	margin-left: 20px;
}

.dropdown-menu {
	position: absolute !important;
}

/*----------PRESENTATION----------*/

.presentation {
	margin-top: 100px;
	height: 463px;
}

.texte-presentation {
	color: white;
	float: left;
	font-weight: 500;
	width: 40%;
}

.titre-presentation {
	font-size: 65px;
	margin-bottom: 25px;
	margin-top: -25px;
}

.para-presentation {
	font-size: 17px;
	text-align: justify;
	text-align: left;
}

.image-presentation {
	height: 408px;
	width: 57%;
	background-image: url("images/step-1.png");
	background-size: cover;
	background-position: center;
	float: right;
}

.btn-cta {
	padding: 14px 32px;
	width: 40%;
	background-color: rgb(240,0,150);
	border-radius: 30px;
	font-size: 17px;
	margin-top: 20px;
	margin-right: 328px;
}

.main2 {
	background-color: white;
	height: 290px;
}

.main3 {
	background-color: #F9FAFD;
}

/* Partie 2 */

/*----------CATEGORIES----------*/

.liensv {
	text-align: center;
	color: #EB038A;
	margin-left: 35px;
}

	.liensv:hover, .liensv:active {
		text-align: center;
		color: white;
		margin-left: 35px;
		border: 1px none #EB038A;
		background-color: #EB038A;
		padding: 5px 10px;
		border-radius: 10px;
	}

.liensv2 p:not(:target) {
	display: none;
}

.liensv2 p:target {
	display: block;
}

.imgcenter {
	text-align: center;
}

.description-presentation {
	height: 500px;
	margin: 150px auto 0 auto;
}

.conteneur {
	float: left;
	width: 30%;
}

.icone-accueil {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}

.eclair {
	background-image: url("images/i1.png");
}

.marqueur {
	background-image: url("images/i2.png");
}

.cadre-logo {
	background-image: url("images/i3.png");
}

.sous-titre-accueil {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.para-accueil {
	font-size: 15px;
	text-align: left;
}

.arrondi_haut_presentation {
	height: 60px;
	background-color: #1a2d34;
	width: 100%;
	border-radius: 45%;
	border-top-right-radius: 0%;
	border-top-left-radius: 0%;
}

.magna {
	text-align: center;
}

/*--------------------Media queries--------------------*/

@media screen and (max-width: 1200px) {

	.lien-nav {
		margin-right: 10px;
		font-size: 1.25rem;
		margin-top: 2px;
	}

	.btn-connexion {
		font-size: 1rem;
		padding: 0 15px;
		margin-top: 6px;
	}

	.presentation {
		height: 1050px;
	}

	.texte-presentation, .image-presentation {
		width: 100%;
	}

	.titre-presentation {
		text-align: center;
	}

	.para-presentation {
		text-align: center;
	}

	.image-presentation {
		margin-top: 50px;
		margin-left: 518px;
	}

	.btn-cta {
		margin: 50px auto 0 auto;
		width: 17%;
	}

	.conteneur {
		float: left;
		width: 25%;
	}

	.sous-titre-accueil {
		font-size: 1.5rem;
	}

	.para-accueil {
		font-size: 1rem;
		text-align: justify;
	}

	.tout_faq, .paragraphe_partie_haut_faq, .marques_partie_haut_faq {
		width: 75%;
	}
}

@media screen and (max-width: 992px) {
	.titre-logo {
		font-size: 0.75rem;
		margin-top: 8px;
	}

	.btn-cta {
		margin: 50px auto 0 auto;
		width: 35%;
	}

	.nav-item {
		display: none;
	}

	.dropdown {
		height: 28.8px;
		width: fit-content;
		visibility: visible;
	}

	.main2 {
		padding-bottom: 55%;
	}

	.fa-caret-down {
		height: 100%;
		margin-top: 10px;
	}

	.titre-presentation {
		font-size: 3.25rem;
	}

	.conteneur {
		width: 100%;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 576px) {
	.btn-connexion {
		font-size: 0.75rem;
	}

	.btn-cta {
		margin: 50px auto 0 auto;
		width: 15%;
	}

	.fa-caret-down {
		margin-top: 6px;
	}

	.titre-presentation {
		font-size: 2.5rem;
	}

	.para-presentation {
		font-size: 1rem;
	}

	.presentation {
		margin-top: 50px;
	}

	.image-presentation {
		height: 300px;
	}

	.tout_faq, .paragraphe_partie_haut_faq, .marques_partie_haut_faq {
		width: 90%;
	}
}

/*----------PRESENTATION----------*/


.arrondi1 {
	width: 744.5px;
	height: 501px;
	background: #ec008c;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 36px;
	border-top-left-radius: 880px 876px;
	border-top-right-radius: 566px 587px;
	border-bottom-left-radius: 7px 74px;
	border-bottom-right-radius: 900px 68px;
	margin-left: 51%;
	position: absolute;
	margin-top: -17px;
}

.arrondi2 {
	width: 550px;
	height: 393px;
	background: #EC1C97;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 36px;
	border-top-left-radius: 100px 100px;
	border-top-right-radius: 566px 587px;
	border-bottom-left-radius: 354px 255px;
	border-bottom-right-radius: 1215px 1150px;
	margin-left: 60%;
	position: absolute;
	margin-top: 80px;
	transform: rotate(359deg);
}

/* Partie 2 */

/*----------CATEGORIES----------*/

.partie2-categories {
	display: block;
	font-size: 12px;
}


#maindiv {
	padding-bottom: 50px;
	margin-left: 290px;
	margin-top: 100px;
}

.explications {
	margin: 0 auto;
}

.colonne1 {
	float: left;
	margin: 0 auto;
	padding-right: 30px;
	display: inline-block;
}

.colonne2 {
	display: inline-block;
	float: left;
	margin: 0 auto;
	padding-right: 30px;
}

.colonne3 {
	display: inline-block;
	margin: 0 auto;
}

.titre-categories {
	font-weight: bold;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.paragraphe-categories {
	font-weight: bold;
	color: #6B6B6B;
	font-size: 12.5px;
}

/* CSS PARTIE CAROUSEL */

/* LINK */

#linkHeader {
	text-align:center;
}

#linkHeader h2 {
	font-size:45px;
	margin-bottom:25px;
}

#paragraphe {
	margin:0;
	padding:0;
}

#lesLiens {
	text-align:center;
	margin-top:30px;
	margin-bottom:15px;
}

#link {
	background-color:#F6F6F6;
	padding-top:5%;
	padding-bottom:100px;
}

#link #b1, #b2, #b3 {
	color:#E50F7C;
	text-align:center;
	background-color:#FAFAFA;
	text-decoration:none;
	padding:5px 10px;
	margin-top:50px;
	border-radius:4px;
	border:none;
	font-size:17px;
}

#link #b1:hover, #b2:hover, #b3:hover {
	color:#FAFAFA;
	background-color:#E50F7C;
	text-decoration:none;
	padding:5px 10px;
	margin-top:50px;
	border-radius:4px;
	border:none;
}

#pageLink {
	margin-top:40px;
}

#slide h2 {
	font-size:45px;
}

#slide h2 span {
	background-color:#E50F7C;
    background: linear-gradient(0, #E50F7C 30%, #F7F7F7 30%);
}

#image1, #image2, #image3 {
	box-shadow:6px 6px 6px rgba(0,0,0,0.1);
	margin-bottom:3%;
	margin-right:3%;
	width:99%;
}

#comment {
	background-color:white;
	margin-right:20%;
	margin-top:20px;
	margin-bottom:30px;
	padding:2% 3% 2% 3%;
	border-radius:5px; 
	box-shadow:6px 3px 3px rgba(0,0,0,0.1);
}

#photoH1 {
	width:50px;
	border-radius:50px;
}

#photoH2 {
	width:50px;
	border-radius:50px;
}

#photoF {
	width:50px;
	border-radius:50px;
}

/* BLACKBLOC */

#blackBloc {
	background-color:#323232;
	text-align:center;
	padding-top:180px;
	padding-bottom:180px;
}

#blackBloc span {
	color:#EEEEEE;
	font-weight:bold;
	margin-left:7px;
}

#blackBloc img {
	width:32px;
}

/*CSS de la partie 5 du site*/

.background-underline {
	background: linear-gradient(0, #E50F7C 30%, #D00070 30%);
}

#part5 {
    background: #D00070;
    border-bottom-left-radius: 50% 90px;
    border-bottom-right-radius: 50% 90px;
    color: white;
    padding: 40px 0 40px 0;
    text-align: center;
}

#part5 img {
    height: 40px;
    width: 40px;
}

#part5 p {
    font-size: 35px;
}

#part5 h6 {
    display: block;
}

#part5 h6:last-child {
    padding-bottom: 40px;
}

#part5 button {
    margin: 30px 0 0 30px;
    padding: 5px 30px 5px 30px;
}

#part5 span {
    font-weight: bold;
    margin-left: 15px;
}

/*CSS de la Section FAQ du site*/

footer {
    background-color: #1a2d34;
    font-weight: bold;
    height: 100px;
    padding: 100px 20px;
}

.more {
    padding: 25px;
    text-align: center;
}

.more a {
        color: #ec008c;
    }

.whitebloc {
    border-bottom-left-radius: 55% 90px;
    border-bottom-right-radius: 55% 90px;
}

.trait {
    background: #b0a9a7;
    height: 1px;
    opacity: 0.2;
}

.button1, .button2, .button3, .button4, .button5, .button6 {
	font-weight: bold;
	border: 1px solid black;
	background: #FFF;
	display: inline-block;
	border-radius: 5px;
	padding: 18px 250px;
	transition: all 0.3s ease-in 0s;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	box-shadow: none;
}

.b, .c {
	display: none;
	font-weight: bold;
	border: 1px solid black;
	color: white;
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 18px 50px;
	text-transform: uppercase;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.ab {
	display: none;
	padding-bottom: 25px;
	color: #000;
	font-size: 20px;
}

.bc {
	display: none;
	padding-bottom: 25px;
	color: #000;
	font-size: 20px;
}

.cd {
	display: none;
	padding-bottom: 25px;
	color: #000;
	font-size: 20px;
}

.de {
	display: none;
	padding-bottom: 25px;
	color: #000;
	font-size: 20px;
}

.ef {
	display: none;
	padding-bottom: 25px;
	color: #000;
	font-size: 20px;
}

.fg {
	display: none;
	padding-bottom: 25px;
	color: #000;
	font-size: 20px;
}

.questions {
	background-color: whitesmoke;
}

#faq {
    border-bottom-left-radius: 50% 90px;
    border-bottom-right-radius: 50% 90px;
    padding: 5%;
    text-align: center;
}

#faq p {
    font-size: 30px;
	font-weight: bold;
}

#faq h4 {
    color: #ec008c;
}

#faq h6 {
    display: block;
    margin-top: 1%;
}

#infosite {
    color: #b0a9a7;
    display: inline;
    font-size: 10px;
    margin-left: 10%;
}

#logos {
    float: right;
    margin-right: 20%;
}

/*--------------------Media queries--------------------*/
/* Partie FAQ */
@media only screen and (max-width: 576px){
	.button1, .button2, .button3, .button4, .button5, .button6 {
		font-weight: bold;
		border: 1px solid black;
		background: #FFF;
		display: inline-block;
		border-radius: 5px;
		padding: 18px 20px;
		transition: all 0.3s ease-in 0s;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
		box-shadow: none;
	}
}

@media only screen and (max-width: 992px) {
	.button1, .button2, .button3, .button4, .button5, .button6 {
		font-weight: bold;
		border: 1px solid black;
		background: #FFF;
		display: inline-block;
		border-radius: 5px;
		padding: 18px 100px;
		transition: all 0.3s ease-in 0s;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.75);
		box-shadow: none;
	}
}