html {
	background-color:#323232;
}

#color {
	background-color:#323232;
	margin-top:60px;
}

#inscription {
	margin-right:10%;
	margin-left:10%;
	padding:45px;
	border-radius:5px;
	background-color:white;
}

h2 {
	text-align:center;
}

h5 a {
	background: linear-gradient(0, #E50F7C 30%, #FFFFFF 30%);
	color:black;
	text-decoration:none;
}

h5 a:hover {
	text-decoration:none;
	color:black;
}

.span {
	color:#EC1C97;
}

#formulaire {
	text-align:center;
	margin-top:1%;
	margin-bottom:5%;
}

#name {
	width:75%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#mdp {
	width:75%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#name, #mdp {
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-radius:0px;
	text-decoration:none;
	border-bottom:2px solid #EC1C97;
	margin-top:2%;
	box-shadow:none;
	outline:none;
}

#but {
	background-color:#E50F7C;
	border:none;
	margin-top:3%;
}

/*background: linear-gradient(0, #E50F7C 30%, #FFFFFF 30%);*/

.bootstrap-select .btn:focus {
    outline: none !important;
}

.bootstrap-select .btn:focus{outline:none!important;}

.form-group:focus {
  box-shadow: none;
}

.warning {
	color:red;
	margin-top:10px;
	font-size:18px;
}